*{
	font-size:16px;
}
body {
    font-family:verdana,helvetica,arial,sans-serif;
    font-size:16px;
    padding:1.5em;
    margin:0;
}
h2 {
    font-size:1.3em;
    font-weight:bold;
    margin:0;
    margin-bottom:1em;
}
.demo-info{
	padding:0 0 1em 0;
}
.demo-tip{
	display:none;
}
